@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-size: 21px;
}
a:hover {
  color: #D04545;
}
#a-block {
  color: #D04545;
}
body {
  background-color: #D9D9D9;
}
.header {
  font-size: 20px;
  background-color: #B6B6B6;
  padding: 1em;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-box {
  display: flex;
  gap: 1em;
}

.main {
  display: flex;
}
.left-block {
  width: 70%;
  padding: 1em;
}
.card {
  background-color: #CDCDCD;
  border-radius: 1em;
  margin: 1em 0;
  padding: 1em;
  height: 9em;
  display: flex;
  cursor: pointer;
}
.card:hover {
  background: #D04545;
  color: white;
}
.card a:hover {
  color: white;
}
.centered-a {
  display: flex;
  justify-content: center;
}
#centered-h {
  margin: 0.5em 0;
}
.right-block {
  background-color: #CDCDCD;
  width: 30%;
  padding: 1em;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1em;
}
input {
  outline: none;
  border-radius: 10em;
  border: 0;
  padding: 0.5em 1em;
  font-size: 21px;
}
button {
  outline: none;
  border: none;
  font-size: 21px;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: #D04545;
  color: white;
}
button:hover {
  background-color: white;
  color: black;
}